### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Display header for the merged file
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
# Display header for just the school data
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [3]:
# Display header for just the student data
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
# Calculate total schools
# Use the school data as there is a single row for each school making the calculation simpler than the combined data set
# Two different methods - using unique may be inaccurate if two schools had the same name
totalSchoolsUnique = len(school_data["school_name"].unique())
totalSchools = school_data["school_name"].count()
print("Total Schools by Unique Name: " + str(totalSchools) + ", Total Schools by Count of School Name Rows: " + str(totalSchoolsUnique))

Total Schools by Unique Name: 15, Total Schools by Count of School Name Rows: 15

In [28]:
# Calculate total students
# Either the student data or the complete data set can be used since the school data was appended to each student record
# meaning the same number of rows exist in each data set and there are no duplicate student records 
# Two different methods (could be applied to either data set) - either method works and students should not have the same id
totalStudentsUnique = len(student_data["Student ID"].unique())
totalStudents = student_data["Student ID"].count()
print("Total Students by Unique ID: " + str("{:,}".format(totalStudentsUnique)) 
      + ", Total Students by Count of Student ID Rows: "
      + str("{:,}".format(totalStudents)))

Total Students by Unique ID: 39,170, Total Students by Count of Student ID Rows: 39,170

In [29]:
# Calculate the total budget
# Use the school data since the calculation is simply a sum of the budgets because each school only appears 1 time
totalBudget = school_data['budget'].sum()
print("Total Budget = " + str("${:,.2f}".format(totalBudget)))

Total Budget = $24,649,428.00

In [30]:
# Calculate average math score
# Either the student data or the complete data set can be used since the school data was appended to each student record
# meaning the same number of rows exist in each data set and there are no duplicate student records 
avgMathScore = school_data_complete["math_score"].mean()
print("Average Math Score: " + str("{:.1f}".format(avgMathScore)) + "\nFull Precision: " + str(avgMathScore))

Average Math Score: 79.0
Full Precision: 78.98537145774827

In [31]:
# Calculate average reading score
# Either the student data or the complete data set can be used since the school data was appended to each student record
# meaning the same number of rows exist in each data set and there are no duplicate student records 
avgReadingScore = school_data_complete["reading_score"].mean()
print("Average Reading Score: " + str("{:.1f}".format(avgReadingScore)) 
      + "\nFull Precision: " + str(avgReadingScore))

Average Reading Score: 81.9
Full Precision: 81.87784018381414

In [32]:
# Calculate overall passing based on average of math and reading scores
# Use the complete data set and make a copy for our new data frame of passing rates
passingRates = school_data_complete.copy()
passingRates["Overall Pass Rate"] = (school_data_complete["math_score"] + school_data_complete["reading_score"])/2
overallPassRate = passingRates["Overall Pass Rate"].mean()
print("Overall Passing Rate: " + str("{:.1f}".format(overallPassRate)) 
      + "\nFull Precision: " + str("{:}".format(overallPassRate)))

Overall Passing Rate: 80.4
Full Precision: 80.43160582078121

In [33]:
# Calculate percent passing math (>= 70)
# Start with the complete data set and create a new one with only math scores >= 70
passingMath = school_data_complete.loc[(school_data_complete["math_score"] >= 70),:]

# Calculate percent passing by counting how many students are passing math / how many total students 
# there are (from above)
percentPassingMath = passingMath["Student ID"].count() / totalStudents
print("Percent Passing Math: " + str("{:.1f}%".format(percentPassingMath*100)) 
      + "\nFull Precision: " + str("{:}%".format(percentPassingMath*100)))

Percent Passing Math: 75.0%
Full Precision: 74.9808526933878%

In [34]:
# Calculate percent passing reading (>= 70)
# Start with the complete data set and create a new one with only reading scores >= 70
passingReading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70),:]

# Calculate percent passing by counting how many students are passing reading / how many total students 
# there are (from above)
percentPassingReading = passingReading["Student ID"].count() / totalStudents
print("Percent Passing Reading: " + str("{:.1f}%".format(percentPassingReading*100)) 
      + "\nFull Precision: " + str("{:}%".format(percentPassingReading*100)))

Percent Passing Reading: 85.8%
Full Precision: 85.80546336482001%

In [37]:
# Display the District Summary
schoolSummary = pd.DataFrame({"Total Schools":[totalSchools],
                              "Total Students":[totalStudents],
                              "Total Budget":[totalBudget],
                              "Average Math Score":[avgMathScore],
                              "Average Reading Score":[avgReadingScore],
                              "% Passing Math":[percentPassingMath],
                              "% Passing Reading":[percentPassingReading],
                              "% Overall Passing Rate":[overallPassRate/100]})

# Set the styling for the dataframe - NOTE:  Because this is a dictionary, order of fields does NOT matter
schoolSummary.style.format({'Average Math Score': "{:,.3f}", 'Average Reading Score': "{:,.3f}",'Total Budget': '${:,.0f}',
                           '% Passing Math':"{:.2%}", '% Passing Reading':"{:.2%}",'% Overall Passing Rate':"{:.2%}",
                           'Total Students':"{:,}"})
#schoolSummary
# NOTE:  For full precision, see steps above

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [ ]:
# Group by School
groupedBySchool = passingRates.groupby(["school_name"])

# Determine the number of students per school
studentsBySchool = groupedBySchool["Student ID"].count()
studentsBySchool

# Determine Avg Reading Score, Avg Math Score, Size of School, Budget per School
schoolAvgReading = groupedBySchool["reading_score"].mean()
schoolAvgMath = groupedBySchool["math_score"].mean()
schoolBudget = groupedBySchool["budget"].mean()

In [ ]:
# Determine passing rates
schoolMathRate = school_data_complete.loc[(school_data_complete["math_score"] >= 70.0),:]
mathRate = schoolMathRate.groupby(["school_name"])["math_score"].count() / school_data_complete.groupby(["school_name"])["Student ID"].count()
mathRate.head()

In [ ]:
schoolReadingRate = school_data_complete.loc[(school_data_complete["reading_score"] >= 70.0),:]
readingRate = schoolReadingRate.groupby(["school_name"])["reading_score"].count() / school_data_complete.groupby(["school_name"])["Student ID"].count()
readingRate.head()

In [ ]:
# School Summary
#schoolSummary2 = pd.merge(readingRate, mathRate, on="school_name")
#schoolSummary2.head()
#schoolSummary2 = pd.DataFrame({"Total Students":[studentsBySchool],
#                              "Avg Reading Score":[schoolAvgReading],
#                              "Avg Math Score":[schoolAvgMath],
#                              "Budget":[schoolBudget],
#                              "% Passing Math": [mathRate],
#                              "% Passing Reading": [readingRate]})

# Set the styling for the dataframe
#schoolSummary2.style.format({'% Passing Math':"%{:.2%}",
#                             '% Passing Reading':"%{:.2%}"})

#schoolSummary2.head()

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Playground - start with a copy of the data frame
copy = school_data_complete.copy()
copy

In [ ]:
copy.dtypes

In [ ]:
groupBy = copy.groupby(["school_name","type","budget"])

In [ ]:
groupBy.head()

In [ ]:

group = copy.groupby(
   ['school_name', "type"]
).agg(
    {
        'budget':"mean",
        'Student ID':"count", 
        'reading_score':["mean", "count","max","min"],
         'math_score': ["mean", "count","max","min"]
    }
)

group.columns = ["_".join(x) for x in group.columns.ravel()]
group

In [ ]:

group2 = copy.groupby(
   ['school_name', "type","budget"]
).agg(
    {
        'budget':"mean",
        'Student ID':"count", 
        'reading_score':"mean",
         'math_score': "mean"
    }
)

#group2.columns = ["_".join(x) for x in group2.columns.ravel()]
group2.dtypes

In [ ]:
group2["Per Student Budget"] = group2["budget"] / group2["Student ID"]
group2

In [ ]:
passingMath = school_data_complete.loc[(school_data_complete["math_score"] >= 70),:]
passingMath
percentPassingMathBySchool = passingMath.groupby(["school_name"])["math_score"].count() / group2["Student ID"]
percentPassingMathBySchool

In [ ]:
passingReading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70),:]
passingReading
percentPassingReadingBySchool = passingReading.groupby(["school_name"])["reading_score"].count() / group2["Student ID"]
percentPassingReadingBySchool

In [ ]:
#merge_df2 = pd.merge(group2, percentPassingMathBySchool, on="school_name")
#merge_df2.head()
group2["% Passing Math"] = percentPassingMathBySchool
group2
group2["% Passing Reading"] = percentPassingReadingBySchool
group2

In [ ]:
group2["Overall % Passing"] = (group2["% Passing Math"] + group2["% Passing Reading"])/2
group2

In [ ]:
topPassingRate = group2.copy().sort_values("Overall % Passing",ascending=False)
topPassingRate.head(5)

In [ ]:
btmPassingRate = group2.copy().sort_values("Overall % Passing",ascending=True)
btmPassingRate.head(5)

In [ ]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
math9 = student_data.loc[(student_data["grade"] == "9th"),["school_name","math_score"]]
math10 = student_data.loc[(student_data["grade"] == "10th"),["school_name","math_score"]]
math11 = student_data.loc[(student_data["grade"] == "11th"),["school_name","math_score"]]
math12 = student_data.loc[(student_data["grade"] == "12th"),["school_name","math_score"]]

#Group each series by school
math9BySchool = math9.groupby("school_name")["math_score"].mean()
math10BySchool = math10.groupby("school_name")["math_score"].mean()
math11BySchool = math11.groupby("school_name")["math_score"].mean()
math12BySchool = math12.groupby("school_name")["math_score"].mean()

#Combine the series into a dataframe
mathScoresByGrade = pd.merge(math9BySchool, math10BySchool, on="school_name", suffixes = ("_9th", "_10th"))
mathScoresByGrade = pd.merge(mathScoresByGrade, math11BySchool, on="school_name")
mathScoresByGrade = pd.merge(mathScoresByGrade, math12BySchool, on="school_name", suffixes = ("_11th", "_12th"))
mathScoresByGrade

#Optional: give the displayed data cleaner formatting

In [ ]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
reading9 = student_data.loc[(student_data["grade"] == "9th"),["school_name","reading_score"]]
reading10 = student_data.loc[(student_data["grade"] == "10th"),["school_name","reading_score"]]
reading11 = student_data.loc[(student_data["grade"] == "11th"),["school_name","reading_score"]]
reading12 = student_data.loc[(student_data["grade"] == "12th"),["school_name","reading_score"]]

#Group each series by school
reading9BySchool = reading9.groupby("school_name")["reading_score"].mean()
reading10BySchool = reading10.groupby("school_name")["reading_score"].mean()
reading11BySchool = reading11.groupby("school_name")["reading_score"].mean()
reading12BySchool = reading12.groupby("school_name")["reading_score"].mean()

#Combine the series into a dataframe
readingScoresByGrade = pd.merge(reading9BySchool, reading10BySchool, on="school_name", suffixes = ("_9th", "_10th"))
readingScoresByGrade = pd.merge(readingScoresByGrade, reading11BySchool, on="school_name")
readingScoresByGrade = pd.merge(readingScoresByGrade, reading12BySchool, on="school_name", suffixes = ("_11th", "_12th"))
readingScoresByGrade

#Optional: give the displayed data cleaner formatting

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
schoolSpending = school_data_complete.copy()
group2["Per Student Budget"].describe()
group3 = group2.copy()

In [ ]:
# Set bins roughly according to the quartiles
#spendingBin = [0, 591, 628, 641, 655]
#spendingNames = ["<=591", "$592-$628", "$629-$641", "$642-$655"]
group3["Per Student Spending Range"] = pd.cut(group3["Per Student Budget"], spending_bins, labels=group_names)

group4 = group3.groupby(
   ["Per Student Spending Range"]
).agg(
    {
        'math_score':"mean",
        'reading_score':"mean", 
        '% Passing Math':"mean",
        '% Passing Reading': "mean",
        'Overall % Passing' : "mean"
    }
)
group4

In [ ]:
size_bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

group3["School Size"] = pd.cut(group3["Student ID"], size_bins, labels=size_names)

group6 = group3.groupby(
   ["School Size"]
).agg(
    {
        'math_score':"mean",
        'reading_score':"mean", 
        '% Passing Math':"mean",
        '% Passing Reading': "mean",
        'Overall % Passing' : "mean"
    }
)
group6

In [ ]:
group5 = group3.groupby(
   ["type"]
).agg(
    {
        'math_score':"mean",
        'reading_score':"mean", 
        '% Passing Math':"mean",
        '% Passing Reading': "mean",
        'Overall % Passing' : "mean"
    }
)
group5