### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Display header for the merged file
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
# Display header for just the school data
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [3]:
# Display header for just the student data
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
# Calculate total schools
# Use the school data as there is a single row for each school making the calculation simpler than the combined data set
# Two different methods - using unique may be inaccurate if two schools had the same name
totalSchoolsUnique = len(school_data["school_name"].unique())
totalSchools = school_data["school_name"].count()
print("Total Schools by Unique Name: " + str(totalSchools) + ", Total Schools by Count of School Name Rows: " \
      + str(totalSchoolsUnique))

Total Schools by Unique Name: 15, Total Schools by Count of School Name Rows: 15

In [5]:
# Calculate total students
# Either the student data or the complete data set can be used since the school data was appended to each student record
# meaning the same number of rows exist in each data set and there are no duplicate student records 
# Two different methods (could be applied to either data set) - either method works and students should not have the same id
totalStudentsUnique = len(student_data["Student ID"].unique())
totalStudents = student_data["Student ID"].count()

# OR - Just use the value supplied in the school data set
totalStudentsFromSchoolFile = school_data["size"].sum()

# display that these are all equal methods for THIS data set.  If there were non-unique ids or students missing from the
# data sets the prior two methods could be flawed
print("Total Students by Unique ID: " + str("{:,}".format(totalStudentsUnique)) 
      + ", Total Students by Count of Student ID Rows: "
      + str("{:,}".format(totalStudents))
      + ", Total Students by Count of size in School data: " +  str("{:,}".format(totalStudentsFromSchoolFile)))

Total Students by Unique ID: 39,170, Total Students by Count of Student ID Rows: 39,170, Total Students by Count of size in School data: 39,170

In [6]:
# Calculate the total budget
# Use the school data since the calculation is simply a sum of the budgets because each school only appears 1 time
totalBudget = school_data['budget'].sum()
print("Total Budget = " + str("${:,.2f}".format(totalBudget)))

Total Budget = $24,649,428.00

In [7]:
# Calculate average math score
# Either the student data or the complete data set can be used since the school data was appended to each student record
# meaning the same number of rows exist in each data set and there are no duplicate student records 
avgMathScore = school_data_complete["math_score"].mean()
print("Average Math Score: " + str("{:.1f}".format(avgMathScore)) + "\nFull Precision: " + str(avgMathScore))

Average Math Score: 79.0
Full Precision: 78.98537145774827

In [8]:
# Calculate average reading score
# Either the student data or the complete data set can be used since the school data was appended to each student record
# meaning the same number of rows exist in each data set and there are no duplicate student records 
avgReadingScore = school_data_complete["reading_score"].mean()
print("Average Reading Score: " + str("{:.1f}".format(avgReadingScore)) 
      + "\nFull Precision: " + str(avgReadingScore))

Average Reading Score: 81.9
Full Precision: 81.87784018381414

In [9]:
# Calculate overall passing based on average of math and reading scores
# Use the complete data set and make a copy for our new data frame of passing rates
passingRates = school_data_complete.copy()
passingRates["Overall Pass Rate"] = (school_data_complete["math_score"] + school_data_complete["reading_score"])/2
overallPassRate = passingRates["Overall Pass Rate"].mean()
print("Overall Passing Rate: " + str("{:.1f}".format(overallPassRate)) 
      + "\nFull Precision: " + str("{:}".format(overallPassRate)))

Overall Passing Rate: 80.4
Full Precision: 80.43160582078121

In [10]:
# Calculate percent passing math (>= 70)
# Start with the complete data set and create a new one with only math scores >= 70
passingMath = school_data_complete.loc[(school_data_complete["math_score"] >= 70),:]

# Calculate percent passing by counting how many students are passing math / how many total students 
# there are (from above)
percentPassingMath = passingMath["Student ID"].count() / totalStudents
print("Percent Passing Math: " + str("{:.1f}%".format(percentPassingMath*100)) 
      + "\nFull Precision: " + str("{:}%".format(percentPassingMath*100)))

Percent Passing Math: 75.0%
Full Precision: 74.9808526933878%

In [11]:
# Calculate percent passing reading (>= 70)
# Start with the complete data set and create a new one with only reading scores >= 70
passingReading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70),:]

# Calculate percent passing by counting how many students are passing reading / how many total students 
# there are (from above)
percentPassingReading = passingReading["Student ID"].count() / totalStudents
print("Percent Passing Reading: " + str("{:.1f}%".format(percentPassingReading*100)) 
      + "\nFull Precision: " + str("{:}%".format(percentPassingReading*100)))

Percent Passing Reading: 85.8%
Full Precision: 85.80546336482001%

In [12]:
# Display the District Summary
districtSummary = pd.DataFrame({"Total Schools":[totalSchools],
                              "Total Students":[totalStudents],
                              "Total Budget":[totalBudget],
                              "Average Math Score":[avgMathScore],
                              "Average Reading Score":[avgReadingScore],
                              "% Passing Math":[percentPassingMath],
                              "% Passing Reading":[percentPassingReading],
                              "% Overall Passing Rate":[overallPassRate/100]})

# Set the styling for the dataframe - NOTE:  Because this is a dictionary, order of fields does NOT matter
districtSummary.style.format({'Average Math Score': "{:,.3f}", 'Average Reading Score': "{:,.3f}",'Total Budget': '${:,.0f}',
                           '% Passing Math':"{:.2%}", '% Passing Reading':"{:.2%}",'% Overall Passing Rate':"{:.2%}",
                           'Total Students':"{:,}"})

# NOTE:  For full precision, see steps above

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [13]:
# Start by creating a copy of the complete data set and renaming columns
school = school_data_complete.copy()
school = school.rename(columns = {"school_name":"School Name",
                                  "type":"School Type",
                                  "Student ID":"Total Students",
                                  "budget":"Total School Budget",
                                  "math_score":"Average Math Score",
                                  "reading_score":"Average Reading Score"
                                })

# View the data with the new column names
school

,Total Students,student_name,gender,grade,School Name,Average Reading Score,Average Math Score,School ID,School Type,size,Total School Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [14]:
# Now, create a new groupby dataframe by school.  Include type as it is a string and does not change within a school
# use aggregation for the basic calculations
groupbySchool = school.groupby(['School Name', "School Type"]).aggregate(
    {
        "Total Students":"count",
        "Total School Budget":"mean",
        "Average Math Score":"mean",
        "Average Reading Score":"mean"
    }
)
# View the groupby object to see basic calculations with full precision
groupbySchool

,,Total Students,Total School Budget,Average Math Score,Average Reading Score
School Name,School Type,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963
Cabrera High School,Charter,1858,1081356,83.061895,83.975780
Figueroa High School,District,2949,1884411,76.711767,81.158020
Ford High School,District,2739,1763916,77.102592,80.746258
Griffin High School,Charter,1468,917500,83.351499,83.816757
Hernandez High School,District,4635,3022020,77.289752,80.934412
Holden High School,Charter,427,248087,83.803279,83.814988
Huang High School,District,2917,1910635,76.629414,81.182722
Johnson High School,District,4761,3094650,77.072464,80.966394
Pena High School,Charter,962,585858,83.839917,84.044699
Rodriguez High School,District,3999,2547363,76.842711,80.744686
Shelton High School,Charter,1761,1056600,83.359455,83.725724
Thomas High School,Charter,1635,1043130,83.418349,83.848930
Wilson High School,Charter,2283,1319574,83.274201,83.989488
Wright High School,Charter,1800,1049400,83.682222,83.955000

In [15]:
# Perform calculations and assign as new columns for per student budget, math/reading/overall pass rates
perStudentBudget = groupbySchool["Total School Budget"] / groupbySchool["Total Students"]
groupbySchool["Per Student Budget"] = perStudentBudget

# Reference passingMath and passingReading from District Summary - it contains all math scores >= 70
passingMath = passingMath.rename(columns = {"school_name":"School Name","type":"School Type"})
percentPassingMathbySchool = passingMath.groupby(["School Name","School Type"])["math_score"].count() / groupbySchool["Total Students"]
groupbySchool["% Passing Math"] = percentPassingMathbySchool

passingReading = passingReading.rename(columns = {"school_name":"School Name","type":"School Type"})
percentPassingReadingbySchool = passingReading.groupby(["School Name","School Type"])["reading_score"].count() / groupbySchool["Total Students"]
groupbySchool["% Passing Reading"] = percentPassingReadingbySchool

# Average reading and math to get overall percent
overallPassingbySchool = (percentPassingMathbySchool + percentPassingReadingbySchool)/2
groupbySchool["% Overall Passing"] = overallPassingbySchool

# View full precision data and all required columns in place
groupbySchool

,,Total Students,Total School Budget,Average Math Score,Average Reading Score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,628.0,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0,0.941335,0.970398,0.955867
Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0,0.659885,0.807392,0.733639
Ford High School,District,2739,1763916,77.102592,80.746258,644.0,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0,0.933924,0.971390,0.952657
Hernandez High School,District,4635,3022020,77.289752,80.934412,652.0,0.667530,0.808630,0.738080
Holden High School,Charter,427,248087,83.803279,83.814988,581.0,0.925059,0.962529,0.943794
Huang High School,District,2917,1910635,76.629414,81.182722,655.0,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,77.072464,80.966394,650.0,0.660576,0.812224,0.736400
Pena High School,Charter,962,585858,83.839917,84.044699,609.0,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,1056600,83.359455,83.725724,600.0,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1049400,83.682222,83.955000,583.0,0.933333,0.966111,0.949722

In [16]:
# Set the style for readability and appropriate precision
groupbySchool.style.format({'Total Students':"{:,}",
                            'Total School Budget':"${:,.2f}",
                            'Average Math Score':"{:.1f}",
                            'Average Reading Score':"{:.1f}",
                            'Per Student Budget':"${:.2f}",
                            '% Passing Math':"{:.1%}",
                            '% Passing Reading':"{:.1%}",
                            '% Overall Passing':"{:.1%}"})

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [17]:
# Make a copy, sort and display raw data
topPassingRate = groupbySchool.copy().sort_values("% Overall Passing",ascending=False)
topPassingRate.head(5)

,,Total Students,Total School Budget,Average Math Score,Average Reading Score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0,0.941335,0.970398,0.955867
Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0,0.932722,0.973089,0.952905
Pena High School,Charter,962,585858,83.839917,84.044699,609.0,0.945946,0.959459,0.952703
Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0,0.938677,0.965396,0.952037

In [18]:
# Now show the same data formatted with appropriate precision
topPassingRate.head(5).style.format({'Total Students':"{:,}",
                            'Total School Budget':"${:,.2f}",
                            'Average Math Score':"{:.1f}",
                            'Average Reading Score':"{:.1f}",
                            'Per Student Budget':"${:.2f}",
                            '% Passing Math':"{:.1%}",
                            '% Passing Reading':"{:.1%}",
                            '% Overall Passing':"{:.1%}"})

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [19]:
# Make a copy, sort and display raw data
btmPassingRate = groupbySchool.copy().sort_values("% Overall Passing",ascending=True)
btmPassingRate.head(5)

,,Total Students,Total School Budget,Average Math Score,Average Reading Score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0,0.663666,0.802201,0.732933
Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0,0.659885,0.807392,0.733639
Huang High School,District,2917,1910635,76.629414,81.182722,655.0,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,77.072464,80.966394,650.0,0.660576,0.812224,0.736400
Ford High School,District,2739,1763916,77.102592,80.746258,644.0,0.683096,0.792990,0.738043

In [20]:
# Now show the same data formatted with appropriate precision
btmPassingRate.head(5).style.format({'Total Students':"{:,}",
                            'Total School Budget':"${:,.2f}",
                            'Average Math Score':"{:.1f}",
                            'Average Reading Score':"{:.1f}",
                            'Per Student Budget':"${:.2f}",
                            '% Passing Math':"{:.1%}",
                            '% Passing Reading':"{:.1%}",
                            '% Overall Passing':"{:.1%}"})

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [21]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
math9 = school.loc[(student_data["grade"] == "9th"),["School Name","Average Math Score"]]
math10 = school.loc[(student_data["grade"] == "10th"),["School Name","Average Math Score"]]
math11 = school.loc[(student_data["grade"] == "11th"),["School Name","Average Math Score"]]
math12 = school.loc[(student_data["grade"] == "12th"),["School Name","Average Math Score"]]

In [22]:
#Group each series by school
math9BySchool = math9.groupby("School Name")["Average Math Score"].mean()
math10BySchool = math10.groupby("School Name")["Average Math Score"].mean()
math11BySchool = math11.groupby("School Name")["Average Math Score"].mean()
math12BySchool = math12.groupby("School Name")["Average Math Score"].mean()

In [23]:
#Combine the series into a dataframe
mathScoresByGrade = pd.merge(math9BySchool, math10BySchool, on="School Name", suffixes = (" (9th)", " (10th)"))
mathScoresByGrade = pd.merge(mathScoresByGrade, math11BySchool, on="School Name")
mathScoresByGrade = pd.merge(mathScoresByGrade, math12BySchool, on="School Name", suffixes = (" (11th)", " (12th)"))

# Display full precision
mathScoresByGrade

,Average Math Score (9th),Average Math Score (10th),Average Math Score (11th),Average Math Score (12th)
School Name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [24]:
#Optional: give the displayed data cleaner formatting
# Set the style for readability and appropriate precision
mathScoresByGrade.style.format({'Average Math Score (9th)':"{:.1f}",
                            'Average Math Score (10th)':"{:.1f}",
                            'Average Math Score (11th)':"{:.1f}",
                            'Average Math Score (12th)':"{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [25]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
reading9 = school.loc[(student_data["grade"] == "9th"),["School Name","Average Reading Score"]]
reading10 = school.loc[(student_data["grade"] == "10th"),["School Name","Average Reading Score"]]
reading11 = school.loc[(student_data["grade"] == "11th"),["School Name","Average Reading Score"]]
reading12 = school.loc[(student_data["grade"] == "12th"),["School Name","Average Reading Score"]]

In [26]:
#Group each series by school
reading9BySchool = reading9.groupby("School Name")["Average Reading Score"].mean()
reading10BySchool = reading10.groupby("School Name")["Average Reading Score"].mean()
reading11BySchool = reading11.groupby("School Name")["Average Reading Score"].mean()
reading12BySchool = reading12.groupby("School Name")["Average Reading Score"].mean()

In [27]:
#Combine the series into a dataframe
readingScoresByGrade = pd.merge(reading9BySchool, reading10BySchool, on="School Name", suffixes = (" (9th)", " (10th)"))
readingScoresByGrade = pd.merge(readingScoresByGrade, reading11BySchool, on="School Name")
readingScoresByGrade = pd.merge(readingScoresByGrade, reading12BySchool, on="School Name", suffixes = (" (11th)", " (12th)"))

# Display full precision
readingScoresByGrade

,Average Reading Score (9th),Average Reading Score (10th),Average Reading Score (11th),Average Reading Score (12th)
School Name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [28]:
#Optional: give the displayed data cleaner formatting
# Set the style for readability and appropriate precision
readingScoresByGrade.style.format({'Average Reading Score (9th)':"{:.1f}",
                                   'Average Reading Score (10th)':"{:.1f}",
                                   'Average Reading Score (11th)':"{:.1f}",
                                   'Average Reading Score (12th)':"{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [29]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [30]:
# Apply bins to dataset
groupbySchool["Per Student Spending Range"] = pd.cut(groupbySchool["Per Student Budget"], spending_bins, labels=group_names)

# group by per student spending range
groupbyPerStudentSpendingRange = groupbySchool.groupby(
   ["Per Student Spending Range"]
).agg(
    {
        'Average Math Score':"mean",
        'Average Reading Score':"mean", 
        '% Passing Math':"mean",
        '% Passing Reading': "mean",
        '% Overall Passing' : "mean"
    }
)

# display raw data with full precision
groupbyPerStudentSpendingRange

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Per Student Spending Range,,,,,
<$585,83.455399,83.933814,0.934601,0.966109,0.950355
$585-615,83.599686,83.885211,0.942309,0.959003,0.950656
$615-645,79.079225,81.891436,0.756682,0.861066,0.808874
$645-675,76.997210,81.027843,0.661648,0.811340,0.736494

In [31]:
# Set the style for readability and appropriate precision
groupbyPerStudentSpendingRange.style.format({'Average Math Score':"{:.1f}",
                                             'Average Reading Score':"{:.1f}",
                                             '% Passing Math':"{:.1%}",
                                             '% Passing Reading':"{:.1%}",
                                             '% Overall Passing':"{:.1%}"})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [32]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_sizes = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [33]:
# Apply bins to dataset
groupbySchool["School Size"] = pd.cut(groupbySchool["Total Students"], size_bins, labels=group_sizes)

# group by per student spending range
groupbySchoolSize = groupbySchool.groupby(
   ["School Size"]
).agg(
    {
        'Average Math Score':"mean",
        'Average Reading Score':"mean", 
        '% Passing Math':"mean",
        '% Passing Reading': "mean",
        '% Overall Passing' : "mean"
    }
)

# display raw data with full precision
groupbySchoolSize

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,0.935502,0.960994,0.948248
Medium (1000-2000),83.374684,83.864438,0.935997,0.967907,0.951952
Large (2000-5000),77.746417,81.344493,0.699634,0.827666,0.763650

In [34]:
# Set the style for readability and appropriate precision
groupbySchoolSize.style.format({'Average Math Score':"{:.1f}",
                                'Average Reading Score':"{:.1f}",
                                '% Passing Math':"{:.1%}",
                                '% Passing Reading':"{:.1%}",
                                '% Overall Passing':"{:.1%}"})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [35]:
# Group based on school type
groupbySchoolType = groupbySchool.groupby(
   ["School Type"]
).agg(
    {
        'Average Math Score':"mean",
        'Average Reading Score':"mean", 
        '% Passing Math':"mean",
        '% Passing Reading': "mean",
        '% Overall Passing' : "mean"
    }
)

# display with full precision
groupbySchoolType

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.951037
District,76.956733,80.966636,0.665485,0.807991,0.736738

In [36]:
# Set the style for readability and appropriate precision
groupbySchoolType.style.format({'Average Math Score':"{:.1f}",
                                'Average Reading Score':"{:.1f}",
                                '% Passing Math':"{:.1%}",
                                '% Passing Reading':"{:.1%}",
                                '% Overall Passing':"{:.1%}"})